@import 'variables.less';

:root {
	--color-base: @blue;
	--color-bright: @blue-bright;
	--color-dark: @blue-dark;
	--color-hover: @blue-hover;

	--color-mw-base: #36c;
	--color-mw-bright: #eaf3ff;
	--color-mw-dark: #2a4b8d;

	--color-link-base: @link;
	--color-link-hover: @link-hover;
	--color-link-visited: var(--color-link-base);

	--color-link-new: @link-red;
}
