// Miscellaneous assembly
// Remember to use this for similar things that need to be consistent, not
// for things that are basically the same thing repeated, which should use
// a shared class instead.

// To hide objects, but keep them accessible for screen-readers
.hidden() {
	position: absolute;
	top: -9999px;
	left: 0;
}

// Icons - hides labels, but keep them accessible for screen-readers
.icon() {
	text-indent: -99999px;
	font-size: 0;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
}

// Icons for the page actions menus
.ca-icon( @icon: '' ) {
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 0 17px 0 14px;
	height: 36px;
	font-size: 0.95em;
	text-indent: 4px;
	letter-spacing: 0.5px;
	&::before {
		content: '';
		background-repeat: no-repeat;
		opacity: 1;
		display: inline-block;
		width: 22px;
		height: 22px;
		opacity: 0.51;
		background-size: 100%;
		background-position: center;
		background-image: url( '@{icon}.svg' );
	}
}

// For use after .ca-icon() ...
.ca-icon-only() {
	text-indent: -99999px;
	overflow: hidden; // T174314
	box-sizing: border-box;
	padding: 0 14px;
	font-size: 0 !important;
	text-indent: 0 !important;
	letter-spacing: 0 !important;
	span {
		display: none;
		font-size: 0;
	}
}

// For use after .ca-icon-only() ...
.ca-icon-only-mobile() {
	background-repeat: no-repeat;
	background-position: center !important;
	width: 100% !important;
	height: 100%;
	padding: 0 !important;
	span {
		display: none !important;
		font-size: 0 !important;
	}
}

.ca-icon-material( @icon: '' ) {
	&::before {
		content: '@{icon}';
		background-image: none;
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 22px;
		width: 22px;
		height: 22px;
		display: inline-block;
		//line-height: 1;
		text-transform: none;
		text-align: center;
		vertical-align: middle;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
		text-indent: 0;
		opacity: 1;
		line-height: 1;
	}
}

.box() {
	background: @base90;
	border-radius: 8px;
	padding: 1.25em 1.75em;
	box-shadow: 0 10px 12px 1px rgba( 193, 159, 168, 0.1 );
}

.unbox() {
	background: transparent;
	border: 0;
	padding: 0;
	box-shadow: none;
}

.nav-block() {
	padding: 1.9em 1.2em 0;
	margin: 1em 0;
	line-height: 1.125;
	word-wrap: break-word;
	font-size: 0.95em;
	background: @base100;
	box-shadow: 0 4px 7px 1px rgba( 193, 159, 168, 0.2 );
	border-radius: 8px;
	overflow: hidden;

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-weight: normal;
		font-size: 1.2em;
		margin: 0.25em 0.3em 0.75em 0.3em;
		padding-bottom: 0.15em;
		border-bottom: solid 2px @base70;
	}

	.mw-portlet-body {
		margin-bottom: 2em;
	}

	li {
		border-radius: 4px;
		cursor: pointer;
	}
}

.column-right() {
	padding-left: 1em;
	box-sizing: border-box;

	.sidebar-chunk {
		.nav-block();
	}
}

.column-left() {
	padding-right: 1em;
	box-sizing: border-box;

	.sidebar-chunk {
		.nav-block();
	}
}

// FX
.backdropfx() {
	background: rgba( 255, 255, 255, 0.7 );
	-webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

// Dropdowns
.dropdown-header() {
	cursor: pointer;
	margin-bottom: -0.45em;
	padding-bottom: 0.45em;
}

.dropdown-header-after() {
	&:after {
		content: 'expand_more';
		background-image: none;
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 22px;
		width: 22px;
		height: 22px;
		display: inline-block;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
		text-indent: 0;
		line-height: 1;
	}
}

.dropdown-menu( @direction: right ) {
	.nav-block();
	.backdropfx();
	box-shadow: 0 15px 20px rgba( 193, 159, 168, 0.4 );
	position: absolute;
	margin: 0;
	min-width: 9.153em;
	top: 2.95em;
	@{direction}: -1em;
	z-index: 3;
	opacity: 100;
	transition: all .5s cubic-bezier(0.16, 1, 0.3, 1);
	height: 0;
	padding: 0 1.2em 0;
}

.dropdown-pokey() {
	&:before,
	&:after {
		transform: rotate( 360deg ); // to force some smoothing in annoying browsers
		border-bottom: 10px solid @base80;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 1em;
		z-index: 4;
	}

	&:before {
		top: -10px;
	}

	&:after {
		border-bottom-color: @base100;
		top: -8px;
	}
}

// Categories on bottom of page

.categories-bottom() {
	#catlinks-sidebar {
		display: none;
	}

	#catlinks {
		margin: 0 @content-padding;
		padding: 1em 0 0.5em;

		li {
			border-left: 0;
		}

		div {
			margin: 0 0 0.35em;
		}
	}
}

.gray-hover() {
	transition: background-color cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s;
	
	&:hover,
	&:focus-visible {
		background-color: @hover;
	}
}
