@import 'cssvariables.less';

/* Page layout */

html,
body {
	margin: 0;
	padding: 0;
}

/*scroll-behavior: smooth;*/

input {
	outline: medium;
}

body {
	font-family: @fonts;
	color: @text;
	// Footer colour; results in a weird distracting dark scrollbar in firefox, but fuck firefox
	// Setting it here avoids a jump to white after the footer, which is even more distracting
	background: @body-background;
	font-size: @font-size;
	line-height: 1.6;
	-webkit-tap-highlight-color: transparent !important;
}

[lang] {
	font-family: @fonts;
}

#mw-content {
	.box;
	background: @background;
	padding: 1em @content-padding 3em;
	box-shadow: none;
}

@keyframes slide-in-parent {
	0% {
		overflow: hidden;
	}

	100% {
		overflow: hidden;
	}
}

#mw-content-wrapper{
	margin-top: 0.95em;
	animation: slide-in-parent cubic-bezier(0.1,0.9,0.2,1) 0.6s 0.3s backwards;
	box-shadow: 0 4px 7px 1px rgba( 193, 159, 168, 0.2 );
	z-index: 1;
}

#bodyContent {
	margin-top: 1em;
}

#bodyContentOuter {
	/* Set a z-index for the content to group it away from any nav stuff (extensions) - T200148 */
	position: relative;
	z-index: 0;
}

.mw-body {
	word-wrap: break-word;
}

.mw-footer-container {
	color: #9499a0;
	background: #fff;
	display: flow-root;

	a {
		color: #212121;

		&:hover {
			color: @blue;
		}

		&:visited {
			color: #212121;

			&:hover {
				color: @blue;
			}
		}
	}

	ul {
		margin: 0;
	}
}

#p-logo {
	text-align: center;
	margin: auto;
}

#p-logo-text {
	max-width: @column-left-size;
	text-align: center;
	line-height: 1;

	a {
		padding: 0.1em 1em 0.2em;
		color: @text;
		font-family: @fonts-secondary;
		font-variant: small-caps;
		font-size: 1.85em;
		display: block;

		/* 13+ character names */
		&.long {
			font-size: 1.5em;
			padding: 0 0.75em 0 0;
			line-height: 0.8;
		}

		/* images */
		&.wordmark {
			padding: 0 0.5em 0 0;
		}
	}
}

/* Search */
.mw-search-form-wrapper .oo-ui-fieldLayout-body .oo-ui-buttonElement-button {
	box-shadow: none !important;
	transform: none !important;
}

.mw-fallbackSearchButton {
	display: none
}

#simpleSearch {
	background: #f1f2f3;
	position: relative;
	border: solid 1px transparent;
	//transition: background-color .3s;
	margin-left: .5em;
	margin-right: .5em;
	border-radius: 8px;
}

.opacityhide {
	opacity: 0
}

#searchInput {
	border: 0;
	margin: 0;
	height: 2.4em;
	padding: 0.4em 3.7em 0.3em 1.2em;
	box-shadow: none;
	background: transparent;
	width: 100%;
	min-height: 0;
	font-family: inherit;
	opacity: 80%;
}

#searchButton,
#mw-searchButton {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	right: 1em;
	width: 1.5em;
	height: 1.5em;
	.icon;
	background-image: url( images/search-ltr.svg );
	/* @noflip */
	background-position: center 40%;
	box-shadow: none;
	font-size: inherit;
}

.suggestions {
	background: @background;
	box-shadow: 0 15px 20px 0 rgba( 193, 159, 168, 0.4 );
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: background 0.2s, background-color 0.2s, color 0.2s;

	.suggestions-special {
		background-color: @background;
		padding: 0.75em 2em;
		border: none;
	}

	.suggestions-results {
		background-color: @background;
		border: none;
	}

	.suggestions-result {
		color: @text;
		padding: 0.6em 2em;
	}

	.suggestions-result-current {
		background-color: @background;
		color: @text;
		& .special-label, & .special-query {
			color: @text;
		}
	}
}

.dropdown-toggle {
	.dropdown-header();
}

/* Footer */

.mw-footer {
	padding-top: 0.5em;
	padding-bottom: 1em;

	ul,
	li {
		margin: 1em 0;
		list-style: none;
		padding: 0;
	}

	.footer-icons {
		float: right;
		margin: 0 0 0 1em;
		img {
			transition: filter .2s;
			&:hover {
				filter: brightness(1.5);
			}
		}
		.footer-icon-calibur {
			filter: grayscale(1);
			&:hover {
				filter: grayscale(0);
			}
		}
	}

	#footer-places li {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	#lastmod,
	#credits,
	#copyright {
		display: block;
	}
}

/* Content */

#mw-content-container {
	background: @body-background;
}

.tools-inline,
.tools-inline & {
	div,
	ul,
	li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

.tools-inline li {
	border-radius: 4em;
	//padding: 4px 14px;
	transform: translateX(0);
	transition: background cubic-bezier(0.22,0.58,0.12,0.98) 0.4s;

	&.new a:visited {
		color: @tools-color;
	}

	&.selected {
		background: @hover;
	}

	a {
		.ca-icon( 'images/material-icons/more_horiz_black_24dp' );
		line-height: 1.4em;
		color: @tools-color;

		&:hover {
			text-decoration: none;
			color: @tools-color;
		}

		&:active {
			color: @tools-color;
		}
	}
}

#p-namespaces {
	float: left;
}

#p-views,
#p-more {
	float: right;
}

#ca-watch a {
	//.ca-icon( 'images/material-icons/star_black_24dp' );
	//.ca-icon( 'images/star' );
	.ca-icon-only();
	.ca-icon-material( 'star' )
}

#ca-unwatch a {
	//.ca-icon( 'images/material-icons/star_border_black_24dp' );
	.ca-icon-only();
	transform: none;
	.ca-icon-material( 'star_border' )
}

#ca-unwatch.mw-watchlink-temp a {
	//.ca-icon( 'images/material-icons/star_half_black_24dp' );
	.ca-icon-only();
	.ca-icon-material( 'star_half' )
}

#ca-edit a {
	.ca-icon( 'images/material-icons/edit_black_24dp' );
}

#ca-history a {
	//.ca-icon( 'images/material-icons/history_black_24dp' );
	.ca-icon-material( 'history' )
}

#ca-talk a {
	//.ca-icon( 'images/material-icons/forum_black_24dp' );
	.ca-icon-material( 'forum' )
}

#t-contributions a {
	//.ca-icon( 'images/material-icons/extension_black_24dp' );
	.ca-icon-material( 'extension' )
}

#ca-addsection a {
	//.ca-icon( 'images/material-icons/add_circle_black_24dp' );
	.ca-icon-material( 'add_circle' )
}

#ca-viewsource a {
	//.ca-icon( 'images/material-icons/code_black_24dp' );
	.ca-icon-material( 'code' )
}

#ca-view a,
#ca-view-foreign a {
	//.ca-icon( 'images/material-icons/visibility_black_24dp' );
	.ca-icon-material( 'visibility' )
}

#ca-flowthreadcontrol a {
	.ca-icon( 'images/material-icons/comment_control_black_24dp' );
}

#ca-view {
	.hidden();
}

.tools-inline li[ id^='ca-nstab-' ] a {
	//.ca-icon( 'images/material-icons/insert_drive_file_black_24dp' );
	.ca-icon-material( 'insert_drive_file' )
}

.tools-inline div, .tools-inline div, .tools-inline ul, .tools-inline ul, .tools-inline li, .tools-inline li {
	display: flex;
}

#siteNotice {
	font-size: 95%;
	margin: 0.5em auto 1.5em;
}

#localNotice {
	//.box();
	background: @hover;
	padding: 0.1em 2em 0.1em 1em;
	text-align: left;
	border-radius: 4px;
	display: flex;

	&::before {
		content: '';
		background-image: url(images/material-icons/tips_and_updates_black_24dp.svg);
		min-width: 48px;
		display: block;
		background-size: 100%;
		background-position: center;
		position: relative;
		opacity: 0.51;
		background-repeat: no-repeat;
		margin: 0 1.5em 0 0.8em;
	}
	p {
		width: 100%;
	}
}

/* Misc */

a {
	text-decoration: none;
	color: @link;

	&:hover {
		color: @link-hover;
	}

	&:active {
		/*color: darken( @link-hover, 20% );*/
		color: @link;
	}

	&:visited {
		color: @link-visited;

		&:hover {
			color: @link-hover;
		}

		&:active {
			/*color: darken( @link-hover, 20% );*/
			color: @link;
		}
	}

	&.feedlink {
		background-size: 18px;
		padding-left: 22px !important;
		margin-left: 6px;
		background-image: url(images/material-icons/rss_feed_black_18dp.svg);
	}
}

a.new,
.new a {
	color: @link-red;

	&:hover {
		color: darken( @link-red, 20% );
	}

	&:visited {
		color: @link-red-visited;

		&:hover {
			color: darken( @link-red-visited, 20% );
		}
	}
}

.mw-parser-output a.extiw,
.mw-parser-output a.extiw:active,
.mw-parser-output a.external {
	color: @link-ext;

	&:hover {
		color: darken( @link-ext, 10% );
	}

	&:visited {
		color: @link-ext-visited;

		&:hover {
			color: darken( @link-ext-visited, 10% );
		}
	}
}

a.mw-selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}

.mw-editsection {
	//padding: 25px 5px 0 5px;
	padding: 0;
	float: right;
	//background-image: url(images/material-icons/edit_black_24dp.svg);
	//background-repeat: no-repeat;
	//background-position: left bottom;

	a {
		font-size: 15px;
		color: @tools-color;
		border-radius: 3em;
		transition: all .2s;
		.ca-icon-only();
		.ca-icon-material( 'edit' );
		padding: 0;
		margin: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;

		&:hover {
			background: @hover;
			color: @tools-color;
		}
	}
}

	
.mw-editsection a:first-of-type{
	//padding-left: 28px;
	margin-left: -13px;
	display: none;
}

.mw-editsection-bracket {
	display: none;
}

.mw-indicators {
	float: right;
	margin-left: 1em;

	img {
		/* Line up to baseline; expected indicator icon size is 20px */
		margin-top: -0.5em;
	}
}

.mw-indicator {
	display: inline-block;
	margin: 0.65em 0 0 0.25em;
}

div.magnify a {
	display: block;
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin: 0 0 0.5em 0.5em;
	background-image: url( images/magnify-ltr.svg );
}

/* Subtitle area
 * @see https://phabricator.wikimedia.org/T173951
 */
#contentSub {
	font-size: 84%;
	color: @base20;

	/* This forces "redirect page" (on a redirect page) etc. on a new line */
	.subpages {
		display: block;
	}
}

/* pre and code styles copypasted from core
 * /resources/src/mediawiki.skinning/elements.css and modified a bit
 * @see https://phabricator.wikimedia.org/T177142
 */

.screenplay,
code,
tt,
kbd,
pre,
samp,
.skin-timeless .monospace {
	font-family: @fonts-mono;
}

.skin-timeless .serif {
	font-family: @fonts-serif;
}

.skin-timeless .sans-serif {
	font-family: @fonts-sans;
}

code,
pre,
.mw-code {
	color: #000;
	background-color: @base90;
	border: 1px solid @base70;
}

code {
	padding: 1px 4px;
}

pre,
.mw-code {
	padding: 1em;
	/* Wrap lines in overflow. T2260, T103780 */
	white-space: pre-wrap;
}

.mw-body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	dt {
		font-weight: bold;
		font-family: @fonts-secondary;
		line-height: 1.5;
		margin: 1.25em 0 0.5em;
	}

	dt {
		font-weight: bold;
		font-family: @fonts-secondary;
		line-height: 1.5;
		margin: 1.5em 0 0.5em;
		margin-bottom: 0.1em;
	}

	dl {
		margin-top: 0.2em;
		margin-bottom: 0.5em;
	}

	form dt {
		margin: 0 0.5em 0 0;
	}

	h1.firstHeading {
		margin: 0.25em 0 0.5em;
		border-bottom: none;
		font-weight: 500;
	}

	h1 {
		font-size: 2em;
		border-bottom: solid 3px @base70;
	}

	h2 {
		font-size: 1.8em;
		border-bottom: solid 2px @base70;
	}

	h3 {
		font-size: 1.6em;
		color: @title-pink;
	}

	h4 {
		font-size: 1.4em;
		color: @title-pink;
	}

	h5 {
		font-size: 1.25em;
		color: @title-pink;
	}

	h6 {
		font-size: 1.2em;
		color: @title-pink;
	}

	dt {
		margin-top: 1em;
		color: @title-pink;
	}

	dd {
		margin-bottom: 1em;
	}

	.mw-changeslist-legend dt {
		margin: 0 0.5em 0 0;
	}

	.mw-changeslist-legend dd {
		margin-bottom: 0;
	}

	/* overflow:hidden on the header itself breaks tall scripts, but we need to hide
	 * overflow on the border itself in output for proper thumb handling. Too weird to
	 * change this everywhere, so we'll just do it for parser output for now.
	 */
	.mw-parser-output {
		h1,
		h2 {
			border-bottom: 0;

			&:after {
				content: '';
				display: block;
				border-bottom: solid 2px @base70;
				overflow: hidden;
			}
		}

		h1:after {
			border-bottom-width: 3px;
		}
	}

	// Keep images from overflowing
	a > img,
	.floatnone > img {
		height: auto !important;
		max-width: 100% !important;
	}
}

// Keep images from overflowing
.mw-body-content a > img,
.mw-body-content .floatnone > img {
	height: auto !important;
	max-width: 100% !important;
}

a > img,
.floatnone > img {
	// Hopefully these are only templates or something sane to begin with
	// See: T269970
	.mw-body .mw-parser-output table & {
		height: unset !important;
		max-width: unset !important;
	}
}

#siteSub {
	margin: -0.5em 0 0.5em 0;
	font-style: italic;
	font-family: @fonts-secondary;
	display: none;
}

hr {
	border-width: 1px;
	border-color: @base70;
	border-style: solid none solid none;
	margin: 0.5em 0;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

p {
	margin: 1em 0;
}

ul {
	padding: 0;
	margin: 0.3em 0 0 1.6em;
}

/* body */ .mw-hide-empty-elt .mw-parser-output:not( .mw-show-empty-elt ) .mw-empty-elt {
	display: none;
}

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/* Thumbnails */
/* @noflip */
.floatright,
.tright {
	margin: 0 0 0.5em 0.5em;
	padding: 0 0 1em 1.5em;
}

/* @noflip */
.floatleft,
.tleft {
	margin: 0 0.5em 0.5em 0;
	padding: 0 1.5em 1em 0;
}

.thumbinner {
	.box;
	padding: 0.75em;
	/* Properly center framed thumbnail images (T219717) */
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: 0 1px 3px 0px rgba( 0, 0, 0, 0.2 );
}

.thumbcaption {
	font-size: 95%;
	padding: 0.5em 0 0;
	/* For the magnify link on empty captions */
	min-height: 1em;
}

.mw-body li.gallerybox div.thumb {
	.box;
	padding: 0;
}

/* Tables of contents */
ul#filetoc,
.toc,
.toccolours,
.mw-warning {
	display: table;
	.box;
	padding: 1.25em 1.75em;
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 15em;
	font-size: 100%;
}

.toc {
	line-height: 1.2;

	ul {
		margin: 1em 0 0;
		list-style: none;
		text-align: left;
	}

	li {
		margin: 0.3em 0;

		&:last-child {
			margin-bottom: 0.5em;
		}
	}
}

ul#filetoc {
	display: block;
	margin-bottom: 2em;
}

.mw-body .toctitle {
	border-bottom: solid 2px @base70;
	text-align: unset;

	h2 {
		font-size: 1em;
		font-family: @fonts;
		margin: 0;
		display: inline;

		&:after {
			display: none;
		}
	}
}

.toctogglespan {
	float: right;
}

/* Remove brackets around the show/hide button of the TOC
The selectors have a higher specifity than in core */
body :not( :checked ) > .toctogglespan:before,
body :not( :checked ) > .toctogglespan:after {
	content: '';
}

.toctogglelabel {
	padding-left: 0; /* Overwrite label { padding-left: 0.5em; } from forms.less */
	margin-left: 0.5em; /* Create new distance to the TOC title without increasing the focus ring */
}

.toclevel-1 {
	margin-bottom: 0.25em;
}

.tocnumber {
	color: @base20;
}

.skin-timeless .mw-body .oo-ui-tagMultiselectWidget-handle,
.skin-timeless .mw-body .oo-ui-capsuleMultiselectWidget-handle {
	margin: 0; /* wat */
}

.mw-body .mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend, /* wat */
.mw-changeslist-legend {
	border-radius: 2px;
	background-color: #f8f9fa !important;
	border-color: #e2e2e2;
	box-shadow: none;
	padding: 10px 13px;
}

.mw-body .mw-search-profile-tabs,
.mw-body fieldset#mw-searchoptions,
.mw_metadata,
.wikitable,
.mw-datatable {
	color: @text;
	.box;
	box-shadow: none;
}

.mw-body .mw-search-profile-tabs {
	padding: 0.5em;
}

.mw_metadata,
.mw-datatable,
.wikitable {
	border-color: #fbecf0;

	> tr > th,
	> tr > td,
	> * > tr > th,
	> * > tr > td {
		border: 1px solid #fbecf0;
		padding: 0.4em 0.5em;
	}
}

.mw-datatable th {
	background: @blue-bright;
}

.mw_metadata th,
.wikitable th {
	background: @base80;
}

.mw_metadata {
	border-bottom-width: 3px;
}

/* Portlets */
.emptyPortlet,
#mw-page-header-links .emptyPortlet {
	display: none;
}

#p-lang.emptyPortlet {
	display: inherit;
}

/* Hidden stuff */

#p-namespaces h3,
#p-views h3,
#p-more h3,
#p-search h3 {
	.hidden;
}

/* Notification */
.skin-timeless .postedit.mw-notification {
	top: 4.75em;
}

.skin-timeless .mw-notification-area {
	width: auto;
}

/* Top Logo */
#p-banner img {
	width: 170px !important;
	height: 50px !important;
	transform: translateY(-0.23em) !important;
	overflow: visible;
}

/* No Borders */
.messagebox, .errorbox, .warningbox, .successbox {
	border: none;
}

/* External Links */
.mw-parser-output a.external, .link-https {
    background-image: url(/kawaii/ext-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
	color: #1e78bc;
}

/* Sidebar Chunk */
#mw-site-navigation .sidebar-chunk li:hover, #mw-related-navigation .sidebar-chunk li:hover, #personal .dropdown li:hover, #p-variants-desktop .dropdown li:hover {
	background: @hover;
}

#mw-site-navigation span, #mw-related-navigation span, #personal .dropdown span, #p-normal-catlinks a, #p-variants-desktop a {
    color: #212121;
	text-decoration: none !important;
}

#personal .dropdown span {
	height: 24px;
	display: flex;
	align-items: center;
}

/* OOUI */
#mw-wrapper {
	.oo-ui-dropdownWidget-handle .oo-ui-labelElement-label, #mw-wrapper .oo-ui-decoratedOptionWidget .oo-ui-labelElement-label {
		line-height: 1.6em;
	}

	.oo-ui-buttonElement.oo-ui-labelElement > input.oo-ui-buttonElement-button, #mw-wrapper .oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
		line-height: 1.6em;
	}

	.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button {
		border: none;
	}

	.oo-ui-windowManager-modal > .oo-ui-dialog > .oo-ui-window-frame {
		.backdropfx()
	}

	.oo-ui-processDialog .oo-ui-actionWidget.oo-ui-iconElement > .oo-ui-buttonElement-button {
		border-color: transparent !important;
		box-shadow: none;
		transform: none;
	}

	.oo-ui-processDialog-content .oo-ui-window-head, .oo-ui-processDialog-content .oo-ui-window-foot {
		outline: 0;
	}
}

/*SlideIn Animation*/
@keyframes slide-in-left {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-left {
	0% {
		opacity: 0;
		-webkit-transform: translate(5em, 0);
		transform: translate(5em, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes move-in-up {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 5em);
		transform: translate(0, 5em);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes move-in-down {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, -5em);
		transform: translate(0, -5em);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes float-in-up {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 3em);
		transform: translate(0, 3em);
		pointer-events: none;
	}

	99% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		pointer-events: none;
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		pointer-events: auto;
	}
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes rotate-out {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate-in {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(0);
	}
}

.move-in-up {
	animation: move-in-up cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards;
}

.move-in-down {
	animation: move-in-down cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards;
}

.oo-ui-floatableElement-floatable {
	animation: float-in-up cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards !important;
}

.suggestions a.mw-searchSuggest-link, .suggestions a.mw-searchSuggest-link:hover, .suggestions a.mw-searchSuggest-link:active, .suggestions a.mw-searchSuggest-link:focus {
	display: block;
	-webkit-animation: move-in-left cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards;
	animation: move-in-left cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards;
}

.mw-body {
	animation: slide-in-left cubic-bezier(0.1,0.9,0.2,1) 0.6s 0.3s backwards;
}

/* Recent Changes */
.oo-ui-buttonElement-button .oo-ui-icon-settings {
	transition: transform 1s cubic-bezier(0.67,0.03,0,0.99) !important;
}

.oo-ui-buttonElement-button:hover .oo-ui-icon-settings {
	transform: rotate(90deg) !important;
}

.client-js .mw-changeslist ul, .client-js .mw-changeslist table.mw-enhanced-rc {
	margin-left: unset;
	padding: 8px;
	transition: background .2s;
}

.client-js .mw-changeslist ul, .client-js .mw-changeslist table.mw-enhanced-rc:hover {
	background: #0000000d !important;
}

.client-js .mw-changeslist .content-table-wrapper {
	border-bottom: 1px #00000012 solid;
	&:nth-child(1) {
		border-top: 1px #00000012 solid;
	}
}

.mw-changeslist {
	font-size: 0.95em;
}

.mw-changeslist h4 {
	padding: 10px 0;
	font-weight: normal;
	font-size: 0.95em;
	color: @tools-color;
	letter-spacing: 0.75px;
}

.mw-changeslist .mw-made-collapsible {
	background: #0000000d;
	transition: background .2s;
}

.mw-changeslist .mw-collapsed {
	background: unset !important;
}

#mw-wrapper .comment--without-parentheses:before, .mw-changeslist-links:before, #mw-wrapper .mw-diff-bytes:before, .mw-tag-markers:before, .mw-uctop:before {
	content: '(';
	padding-left: 6px;
}

#mw-wrapper .comment--without-parentheses:after, .mw-changeslist-links:after, #mw-wrapper .mw-diff-bytes:after, .mw-tag-markers:after, .mw-uctop:after {
	content: ')';
	padding-right: 6px;
}

#mw-wrapper span.comment {
	font-family: @fonts-mono;
}

/* Recent Changes Button */

.mw-rcfilters-ui-liveUpdateButtonWidget.oo-ui-buttonElement-active .oo-ui-buttonElement-button {
	background-color: #2fbdec !important;
	border-color: #2fbdec !important;
}

.mw-rcfilters-ui-liveUpdateButtonWidget.oo-ui-toggleWidget-on:after {
	top: 3px !important;
	left: 10px !important;
	animation: ripple 2.3s linear 1s infinite !important;
	background: rgba( 255, 255, 255, 0.5 ) !important;
}

/* User Dropdown Pt Icon 
.pt-md-icon() {
	content: '';
	background-repeat: no-repeat;
	opacity: 0.51;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: center;
	margin-right: 12px;
}*/

.pt-md-icon( @icon: '' ) {
		content: '@{icon}';
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		width: 24px;
		height: 24px;
		margin-right: 12px;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
		text-indent: 0;
		color: black;
		opacity: 0.51;
		line-height: 1.05em;
}

/*#pt-userpage a:after, #pt-mytalk a:after, #pt-adminlinks a:after, #pt-preferences a:after, #pt-betafeatures a:after, #pt-watchlist a:after, #pt-mycontris a:after, #pt-logout a:after, #pt-createaccount a:after, #pt-login a:after{
	content: '';
	padding-right: 31px;
	background-repeat: no-repeat;
	opacity: 0.67;
	background-image: url(images/material-icons/navigate_next_black_24dp.svg);
}*/ 

#pt-uls .uls-trigger {
	padding-top: 0.5em !important;
}

#pt-uls .uls-trigger::before {
	.ca-icon-material( 'translate' );
	//background-image: url(images/material-icons/translate_black_24dp.svg);
}

#pt-userpage a::before {
	.pt-md-icon( 'insert_drive_file' );
	//background-image: url(images/material-icons/insert_drive_file_black_24dp.svg);
}

#pt-mytalk a::before {
	.pt-md-icon( 'forum' );
	//background-image: url(images/material-icons/forum_black_24dp.svg);
}

#pt-adminlinks a::before {
	.pt-md-icon( 'admin_panel_settings' );
	//background-image: url(images/material-icons/admin_panel_settings_black_24dp.svg);
}

#pt-preferences a::before {
	.pt-md-icon( 'settings' );
	transition: transform 1s cubic-bezier(0.67,0.03,0,0.99);
}

#pt-preferences:hover a::before {
	transform: rotate(90deg);
}

#pt-betafeatures a::before {
	.pt-md-icon( 'science' );
	//background-image: url(images/material-icons/science_black_24dp.svg);
}

#pt-watchlist a::before {
	.pt-md-icon( 'star' );
	//background-image: url(images/material-icons/star_black_24dp.svg);
}

#pt-mycontris a::before {
	.pt-md-icon( 'extension' );
	//background-image: url(images/material-icons/extension_black_24dp.svg);
}

#pt-logout a::before {
	.pt-md-icon( 'logout' );
	//background-image: url(images/material-icons/logout_black_24dp.svg);
}

#pt-createaccount a::before {
	.pt-md-icon( 'person_add' );
	//background-image: url(images/material-icons/person_add_black_24dp.svg);
}

#pt-login a::before, #pt-login-private a::before {
	.pt-md-icon( 'login' );
	//background-image: url(images/material-icons/login_black_24dp.svg);
}

#pt-login-private a::after {
	content: '无痕模式';
    height: 24px;
    display: flex;
    align-items: center;
    margin-left: 6px;
    color: #cecece;
}

/* History Page */
#pagehistory li{
	padding: 8px;
	border-bottom: 1px #00000012 solid;
	margin-bottom: 0px;
}

#pagehistory li.selected{
	outline: none;
	border: none;
	border-radius: 4px;
}

.mw-checkbox-toggle-controls {
	margin-top: 40px;
}

.mw-history-compareselectedversions{
	margin-top: 24px;
}

ul#pagehistory {
	margin: 0;
	list-style-type: none;
}

/* No Selection */
#p-variants-desktop, #user-tools h2 span {
	user-select: none;
}

/* 语言变种 变种内容 */
#mw-wrapper #p-variants-desktop .dropdown li {
	padding-left: 6px;
	&.selected {
		background-color: @hover;
		&::before {
			content: '';
			position: absolute;
			opacity: 1;
			left: 0;
			bottom: 26%;
			height: 14px;
			width: 3px;
			display: block;
			background-color: #fb7299;
			border-radius: 3em;
		}
	}
}

/* Special Page */
.mw-specialpages-list{
	& a {
		padding: 0.5em 0.4em;
		display: inline-block;
		width: 100%;
		border-radius: 4px;
		color: @text !important;
	}
	& li {
		margin: 0;
		border-radius: 4px;
	}
	& ul {
		list-style: none;
		margin: 0;
	}
}

/* Fonts Fix */
.diff-editfont-monospace .diff-addedline, .diff-editfont-monospace .diff-deletedline, .diff-editfont-monospace .diff-context, .mw-body .wikiEditor-ui .ace_editor, .ace_search_field, td.mw-enhanced-rc, .mw-enhanced-rc-time a, .mw-enhanced-rc-time {
	font-family: @fonts-mono;
}

/*参数设置页面*/
.mw-special-Preferences #mw-wrapper {
	
/*参数设置页面*/
	.mw-prefs-buttons{
		border-top: 1px transparent;
		box-shadow: none;
		margin-top: 15px;
		padding: 1em 1em;
		box-shadow: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: white;
	}
	#mw-indicator-mw-helplink a{
		color: #888888;
	}
	.mw-htmlform-field-HTMLHorizontalRuleField .mw-input hr{
		background-color: unset;
	}
}

/*TAB*/
#mw-wrapper {
	.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget {
		display: flex;
		min-height: 40px;
		align-items: flex-end;
	}
	.oo-ui-tabSelectWidget-framed {
		display: flex;
		align-items: flex-end;
		background-color: transparent;
	}
	.oo-ui-tabSelectWidget-framed::-webkit-scrollbar {
		display: none;
	}
	.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label,
	.oo-ui-tabSelectWidget-framed.oo-ui-widget-enabled:focus .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label{
		color: #fb7299;
		font-weight: 700;
	}
	.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget .oo-ui-labelElement-label {
		transition: color .5s cubic-bezier(0.1,0.9,0.2,1);
		font-weight: 500;
		font-size: 16px;
		padding: 5px 5px 2px;
	}
}


/*TAB ANIM*/
@keyframes tab-indicator-opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget .oo-ui-labelElement-label:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	opacity: 0;
	border-bottom: 2px solid @blue;
	transform: translate(-50%) scaleX(0);
	transition: transform .8s cubic-bezier(0.1,0.9,0.2,1);
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label:after {
	transform: translate(-50%) scaleX(1);
	animation: tab-indicator-opacity .5s cubic-bezier(0.1,0.9,0.2,1);
	opacity: 1
}
#mw-wrapper .oo-ui-fieldsetLayout-group {
	animation: move-in-left cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s backwards;
}


/* Material Icons */
.oo-ui-icon-settings, .mw-ui-icon-settings:before {
	background-image: url(images/material-icons/settings_black_big.svg?d5b3b) !important;
}

/*Upload Page*/
.mw-special-Upload legend {
	color: @text;
	padding: 0 3px;
	font-size: 20px;
	font-weight: bold;
}
.mw-special-Upload td.htmlform-tip {
	font-size: 14px;
	text-align: center;
	color: #606060;
	padding-top: 8px;
}
.mw-special-Upload fieldset:nth-child(1) legend {
	display: none;
}
#mw-upload-permitted {
	font-size: 12px;
	text-align: center;
	color: #606060;
}
.mw-htmlform-field-UploadSourceField label {
	display: block;
	min-width: 0;
	width: 0;
	opacity: 0;
}
.mw-special-Upload fieldset{
	padding: 1.5em 0.75em 0.625em;
	margin-bottom: 15px;
	border: none;
}
.mw-special-Upload .mw-htmlform-submit-buttons {
	display: flex;
    justify-content: flex-end;
}
.mw-special-Upload input#wpDestFile {
	background: #2a333c05;
	border-bottom: solid 1px #0000002b;
	border-top: solid 1px transparent;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	border-radius: 2px;
	transition: border-color 250ms,box-shadow 250ms,height 250ms,line-height 250ms;
	&:hover {
		border-bottom: solid 1px @blue;
		background: white;
	}
	&:focus {
		background: white;
		border-color: @blue;
		box-shadow: inset 0 0 0 1px @blue;
	}
}

.mw-htmlform-field-UploadSourceField {
	& .mw-input {
		display: flex;
		justify-content: center;
		border-radius: 10px;
	}
}

input#wpUploadFile {
	background-color: transparent;
	padding: 87px 46px;
	appearance: none;
	color: #747474;
	border: #ccc 2px dashed;
	border-radius: 10px;
	width: 100%;
	transition: background-color 0.1s;
	text-align: center;
	text-align-last: center;
	margin: 0;
	cursor: pointer;
	&:hover {
		background-color: #fafafa;
	}
	&:active {
		background-color: #ebebeb;
	}
	&::before {
		content: '';
		background-image: url(images/material-icons/upload_black_24dp.svg);
		display: block;
		height: 100px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 96px;
		opacity: 0.4;
	}
	&::after {
		content: '点击此处或拖拽文件到此处';
		display: block;
		font-size: 12px;
		margin-top: 6px;
		opacity: 0.5;
		text-align: center;
		text-align-last: center;
	}
}

#wpUploadFile::file-selector-button {
	display: none !important;
}

#wpUploadFile::-webkit-file-upload-button {
	display: none !important;
}

#wpUploadFile::-ms-browse {
	display: none !important;
}

/* Hide Links */
#header-links-container {
	display: none;
}

/* collapse toggle */
.mw-collapsible-toggle {
	transition: transform .4s cubic-bezier(.22,.58,.12,.98), opacity .4s cubic-bezier(.22,.58,.12,.98);
}
#mw-wrapper .mw-collapsible-arrow::before {
	content: 'chevron_right';
	background-image: none;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	width: 15px;
	height: 15px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	text-indent: 0;
	line-height: 0.95em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	transition: transform .4s cubic-bezier(.22,.58,.12,.98), opacity .4s cubic-bezier(.22,.58,.12,.98);
}
#mw-wrapper .mw-collapsible-arrow {
	background-image: none;
}
.mw-collapsible-arrow.mw-collapsible-toggle-collapsed {
	transform: rotate(0deg);
	margin-top: 3px;
	opacity: 0.51;
}
.mw-collapsible-arrow.mw-collapsible-toggle-collapsed:active {
	transform: translateY(3px);
}
.mw-collapsible-arrow.mw-collapsible-toggle-expanded {
	transform: rotate(90deg);
	margin-top: 3px;
	opacity: 1;
}
.mw-collapsible-arrow.mw-collapsible-toggle-expanded:active {
	transform: rotate(90deg) translateX(3px);
}
#mw-wrapper .mw-editfooter-toggler {
	background-position: 18px center;
	padding-left: 38px;
}
/* Account Login and Register */
.mw-special-CreateAccount .mw-ui-input, .mw-special-Userlogin .mw-ui-input{
	background: #f9fafb;
	border-bottom: solid 1px rgba( 0, 0, 0, 0.17 );
	border-top: solid 1px transparent;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	border-radius: 2px;
	transition: border-color 250ms,box-shadow 250ms;
	&:hover {
		border-bottom: solid 1px @blue;
	}
	&:focus {
		box-shadow: inset 0 0 0 1px @blue;
		border: solid 1px @blue;
	}
}

.mw-ui-checkbox:not(#noop) [type='checkbox'] + label:before {
	border-width: 2px;
	border-radius: 2px;
}

.mw-ui-vform .mw-secure {
	display: none !important;
}

.mw-special-CreateAccount .mw-body-content .mw-number-text h3 {
	font-family: 'Bahnschrift', 'Roboto', 'Segoe UI Variable Display', 'Segoe UI', 'Tahoma', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

/* Select */
select {
	text-transform: none;
	padding: 4px 24px 4px 12px;
	border: 1px #e2e2e2 solid;
	cursor: pointer;
	background-image: url(images/material-icons/expand_more_black_24dp.svg);
	background-repeat: no-repeat;
	background-position: 99% 50%;
	outline: 0;
	transition: all .2s;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	height: 36px;
	background-color: @input-background;
	border-radius: 2px;
	&:focus {
		border: 1px solid #fb7299;
		box-shadow: inset 0 0 0 1px #fb7299;
	}
	&:hover {
		border: 1px solid #fb7299;
	}
	&:active {
		background-position: 99% 80%;
	}
}

/* Hide Upload Default */
#headerUpload {
	display: none;
}

textarea {
	font-family: @fonts;
}

/*Video.js Player*/

/*Remove the not aligned handle*/
/*.video-js .vjs-play-progress:before, .vjs-slider-vertical .vjs-volume-level:before {
	content: none !important;
}*/

.video-js .vjs-control-bar button {
	box-shadow: none !important;
	border: 0 !important;
	border-radius: 0 !important;
	transform: none !important;
	&:active {
		background-color: var(--player-hover-background);
	}
}
