@import 'variables.less';
@import 'harmonyos.less';
/*@import url("https://font.sec.miui.com/font/css?family=HarmonyOS_Regular:300,450,500,650:Chinese_Simplify,Latin&display=swap");*/

/* Page layout */

html,
body {
	margin: 0;
	padding: 0;
}

/*scroll-behavior: smooth;*/

input {
	outline: medium;
}

body {
	font-family: @fonts;
	color: @text;
	// Footer colour; results in a weird distracting dark scrollbar in firefox, but fuck firefox
	// Setting it here avoids a jump to white after the footer, which is even more distracting
	background: @base100;
	font-size: @font-size;
	line-height: 1.6;
	-webkit-tap-highlight-color: transparent !important;
}

#mw-content {
	.box;
	background: @background;
	padding: 1em @content-padding 3em;
	box-shadow: 0 4px 7px 1px rgba( 158, 179, 193, 0.2 );
	animation-name: slideinfromrightOverflow;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.1,0.9,0.2,1);
    animation-fill-mode: both;
}

#mw-content-wrapper{
	margin-top: 0.95em;
}

#bodyContentOuter {
	/* Set a z-index for the content to group it away from any nav stuff (extensions) - T200148 */
	position: relative;
	z-index: 0;
}

.mw-body {
	word-wrap: break-word;
}

.mw-footer-container {
	color: #9499a0;
	background: #fff;
	display: flow-root;

	a {
		color: #212121;

		&:hover {
			color: #fb7299;
		}

		&:visited {
			color: #212121;

			&:hover {
				color: #fb7299;
			}
		}
	}

	ul {
		margin: 0;
	}
}

#p-logo {
	text-align: center;
	margin: auto;
}

#p-logo-text {
	max-width: @column-left-size;
	text-align: center;
	line-height: 1;

	a {
		padding: 0.1em 1em 0.2em;
		color: @text;
		font-family: @fonts-secondary;
		font-variant: small-caps;
		font-size: 1.85em;
		display: block;

		/* 13+ character names */
		&.long {
			font-size: 1.5em;
			padding: 0 0.75em 0 0;
			line-height: 0.8;
		}

		/* images */
		&.wordmark {
			padding: 0 0.5em 0 0;
		}
	}
}

/* Search */

.mw-fallbackSearchButton {
	display: none
}

#simpleSearch {
	background: #f1f2f3;
	position: relative;
	border: solid 1px transparent;
	transition: background .3s;
	margin-left: .5em;
    margin-right: .5em;
	border-radius: 8px;
}

.opacityhide {
	opacity: 0
}

#searchInput {
	border: 0;
	margin: 0;
	height: 2.4em;
	padding: 0.4em 3.7em 0.3em 1.2em;
	box-shadow: none;
	background: transparent;
	width: 100%;
	min-height: 0;
	font-family: inherit;
	border-radius: 8px;
	opacity: 80%;
}

#searchButton,
#mw-searchButton {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	right: 1.5em;
	width: 2.5em;
	height: 2.5em;
	.icon;
	background-image: url( images/search-ltr.svg );
	/* @noflip */
	background-position: center 40%;
	box-shadow: none;
}

.suggestions {
	background: @background;
	box-shadow: 0 5px 10px 0 rgba( 0, 0, 0, 0.2 );
	border-radius: 8px;
	transition: background 0.2s, background-color 0.2s, color 0.2s;

	.suggestions-special {
		background-color: @background;
		padding: 0.75em 2em;
		border: none;
	}

	.suggestions-results {
		background-color: @background;
		border: none;
	}

	.suggestions-result {
		color: @text;
		padding: 0.65em 2em 0.7em;
	}

	.suggestions-result-current {
		background-color: @base70;
		color: @text;
		& .special-label, & .special-query {
			color: @text;
		}
	}
}

.dropdown-toggle {
	.dropdown-header();
}

/* Footer */

.mw-footer {
	padding-top: 0.5em;
	padding-bottom: 1em;

	ul,
	li {
		margin: 1em 0;
		list-style: none;
		padding: 0;
	}

	.footer-icons {
		float: right;
		margin: 0 0 0 1em;
		img {
			transition: filter .2s;
			&:hover {
				filter: brightness(1.5);
			}
		}
	}

	#footer-places li {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	#lastmod,
	#credits,
	#copyright {
		display: block;
	}
}

/* Content */

#mw-content-container {
	background: #fafafa;
}

.tools-inline,
.tools-inline & {
	div,
	ul,
	li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

.tools-inline li {
	border-radius: 4em;
	padding: 4px 14px;
	transform: translateX(0);

	&.selected {
		background: #0000000d;
	}

	a {
		.ca-icon( 'images/page-misc-grey' );
		line-height: 1.5em;
		color: @tools-color;

		&:hover {
			text-decoration: none;
			color: @tools-color;
		}

		&:active {
			color: @tools-color;
		}
	}
}

#p-namespaces {
	float: left;
}

#p-views,
#p-more {
	float: right;
}

#ca-watch a {
	.ca-icon( 'images/star' );
	.ca-icon-only();
}

#ca-unwatch a {
	.ca-icon( 'images/star-filled' );
	.ca-icon-only();
}

#ca-unwatch.mw-watchlink-temp a {
	.ca-icon( 'images/star-half-filled' );
	.ca-icon-only();
}

#ca-edit a {
	.ca-icon( 'images/pencil-grey' );
}

#ca-history a {
	.ca-icon( 'images/clock-grey' );
}

#ca-talk a {
	.ca-icon( 'images/talk-grey' );
}

#t-contributions a {
	.ca-icon( 'images/puzzle-grey' );
}

#ca-addsection a {
	.ca-icon( 'images/plus-grey' );
}

#ca-viewsource a {
	.ca-icon( 'images/brackets-grey' );
}

#ca-view a,
#ca-view-foreign a {
	.ca-icon( 'images/eyeball-grey' );
}

#ca-view {
	.hidden();
}

.tools-inline li[ id^='ca-nstab-' ] a {
	.ca-icon( 'images/page-grey' );
}

#siteNotice {
	font-size: 95%;
	margin: 0.5em auto 1.5em;
}

#localNotice {
	.box();
	padding: 0;
	text-align: center;

	p {
		margin-left: 1em;
		margin-right: 1em;
	}
}

/* Misc */

a {
	text-decoration: none;
	color: @link;

	&:hover {
		color: @link-hover;
	}

	&:active {
		/*color: darken( @link-hover, 20% );*/
		color: @link;
	}

	&:visited {
		color: @link-visited;

		&:hover {
			color: @link-hover;
		}

		&:active {
			/*color: darken( @link-hover, 20% );*/
			color: @link;
		}
	}
}

a.new,
.new a {
	color: @link-red;

	&:hover {
		color: darken( @link-red, 20% );
	}

	&:visited {
		color: @link-red-visited;

		&:hover {
			color: darken( @link-red-visited, 20% );
		}
	}
}

.mw-parser-output a.extiw,
.mw-parser-output a.extiw:active,
.mw-parser-output a.external {
	color: @link-ext;

	&:hover {
		color: darken( @link-ext, 10% );
	}

	&:visited {
		color: @link-ext-visited;

		&:hover {
			color: darken( @link-ext-visited, 10% );
		}
	}
}

a.mw-selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}

.mw-editsection {
	font-family: @fonts;
	padding: 25px 5px 0 5px;
	background-image: url(./images/pencil-grey.svg?60f18);
    background-repeat: no-repeat;
    background-position: left bottom;

	a {
		padding: 6px 12px;
		margin-right: 0;
		font-size: 15px;
		color: @tools-color;
		border-radius: 3em;
		transition: all .2s;

		&:hover {
			background: #0000000d;
			color: @tools-color;
		}
	}
}

	
.mw-editsection a:first-of-type{
	padding-left: 28px;
	margin-left: -13px;
}

.mw-editsection-bracket {
	display: none;
}

.mw-indicators {
	float: right;
	margin-left: 1em;

	img {
		/* Line up to baseline; expected indicator icon size is 20px */
		margin-top: -0.5em;
	}
}

.mw-indicator {
	display: inline-block;
	margin: 0.65em 0 0 0.25em;
}

div.magnify a {
	display: block;
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin: 0 0 0.5em 0.5em;
	background-image: url( images/magnify-ltr.svg );
}

/* Subtitle area
 * @see https://phabricator.wikimedia.org/T173951
 */
#contentSub {
	font-size: 84%;
	color: @base20;

	/* This forces "redirect page" (on a redirect page) etc. on a new line */
	.subpages {
		display: block;
	}
}

/* pre and code styles copypasted from core
 * /resources/src/mediawiki.skinning/elements.css and modified a bit
 * @see https://phabricator.wikimedia.org/T177142
 */

.screenplay,
code,
tt,
kbd,
pre,
samp,
.skin-timeless .monospace {
	font-family: @fonts-mono;
}

.skin-timeless .serif {
	font-family: @fonts-serif;
}

.skin-timeless .sans-serif {
	font-family: @fonts-sans;
}

code,
pre,
.mw-code {
	color: #000;
	background-color: @base90;
	border: 1px solid @base70;
}

code {
	padding: 1px 4px;
}

pre,
.mw-code {
	padding: 1em;
	/* Wrap lines in overflow. T2260, T103780 */
	white-space: pre-wrap;
}

.mw-body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	dt {
		font-weight: bold;
		font-family: @fonts-secondary;
		line-height: 1.5;
		margin: 1.25em 0 0.5em;
	}

	dt {
		font-weight: bold;
		font-family: @fonts-secondary;
		line-height: 1.5;
		margin: 1.5em 0 0.5em;
		margin-bottom: 0.1em;
	}

	dl {
		margin-top: 0.2em;
		margin-bottom: 0.5em;
	}

	form dt {
		margin: 0 0.5em 0 0;
	}

	h1.firstHeading {
		margin: 0.25em 0 0.5em;
		border-bottom: none;
		font-weight: normal;
	}

	h1 {
		font-size: 2em;
		border-bottom: solid 3px @base70;
	}

	h2 {
		font-size: 1.8em;
		border-bottom: solid 2px @base70;
	}

	h3 {
		font-size: 1.6em;
		color: @title-pink;
	}

	h4 {
		font-size: 1.4em;
		color: @title-pink;
	}

	h5 {
		font-size: 1.25em;
		color: @title-pink;
	}

	h6 {
		font-size: 1.2em;
		color: @title-pink;
	}

	dt {
		margin-top: 1em;
		color: @title-pink;
	}

	dd {
		margin-bottom: 1em;
	}

	.mw-changeslist-legend dt {
		margin: 0 0.5em 0 0;
	}

	.mw-changeslist-legend dd {
		margin-bottom: 0;
	}

	/* overflow:hidden on the header itself breaks tall scripts, but we need to hide
	 * overflow on the border itself in output for proper thumb handling. Too weird to
	 * change this everywhere, so we'll just do it for parser output for now.
	 */
	.mw-parser-output {
		h1,
		h2 {
			border-bottom: 0;

			&:after {
				content: '';
				display: block;
				border-bottom: solid 2px @base70;
				overflow: hidden;
			}
		}

		h1:after {
			border-bottom-width: 3px;
		}
	}

	// Keep images from overflowing
	a > img,
	.floatnone > img {
		height: auto !important;
		max-width: 100% !important;
	}
}

// Keep images from overflowing
.mw-body-content a > img,
.mw-body-content .floatnone > img {
	height: auto !important;
	max-width: 100% !important;
}

a > img,
.floatnone > img {
	// Hopefully these are only templates or something sane to begin with
	// See: T269970
	.mw-body .mw-parser-output table & {
		height: unset !important;
		max-width: unset !important;
	}
}

#siteSub {
	margin: -0.5em 0 0.5em 0;
	font-style: italic;
	font-family: @fonts-secondary;
	display: none;
}

hr {
	border-width: 1px;
	border-color: @base70;
	border-style: solid none solid none;
	margin: 0.5em 0;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

p {
	margin: 1em 0;
}

ul {
	padding: 0;
	margin: 0.3em 0 0 1.6em;
}

/* body */ .mw-hide-empty-elt .mw-parser-output:not( .mw-show-empty-elt ) .mw-empty-elt {
	display: none;
}

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/* Thumbnails */
/* @noflip */
.floatright,
.tright {
	margin: 0 0 0.5em 0.5em;
	padding: 0 0 1em 1.5em;
}

/* @noflip */
.floatleft,
.tleft {
	margin: 0 0.5em 0.5em 0;
	padding: 0 1.5em 1em 0;
}

.thumbinner {
	.box;
	padding: 0.75em;
	/* Properly center framed thumbnail images (T219717) */
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: 0 1px 3px 0px rgba( 0, 0, 0, 0.2 );
}

.thumbcaption {
	font-size: 95%;
	padding: 0.5em 0 0;
	/* For the magnify link on empty captions */
	min-height: 1em;
}

.mw-body li.gallerybox div.thumb {
	.box;
	padding: 0;
}

/* Tables of contents */
ul#filetoc,
.toc,
.toccolours,
.mw-warning {
	display: table;
	.box;
	padding: 1.25em 1.75em;
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 15em;
	font-size: 100%;
}

.toc {
	line-height: 1.2;

	ul {
		margin: 1em 0 0;
		list-style: none;
		text-align: left;
	}

	li {
		margin: 0.3em 0;

		&:last-child {
			margin-bottom: 0.5em;
		}
	}
}

ul#filetoc {
	display: block;
	margin-bottom: 2em;
}

.mw-body .toctitle {
	border-bottom: solid 2px @base70;
	text-align: unset;

	h2 {
		font-size: 1em;
		font-family: @fonts;
		margin: 0;
		display: inline;

		&:after {
			display: none;
		}
	}
}

.toctogglespan {
	float: right;
}

/* Remove brackets around the show/hide button of the TOC
The selectors have a higher specifity than in core */
body :not( :checked ) > .toctogglespan:before,
body :not( :checked ) > .toctogglespan:after {
	content: '';
}

.toctogglelabel {
	padding-left: 0; /* Overwrite label { padding-left: 0.5em; } from forms.less */
	margin-left: 0.5em; /* Create new distance to the TOC title without increasing the focus ring */
}

.toclevel-1 {
	margin-bottom: 0.25em;
}

.tocnumber {
	color: @base20;
}

.skin-timeless .mw-body .oo-ui-tagMultiselectWidget-handle,
.skin-timeless .mw-body .oo-ui-capsuleMultiselectWidget-handle {
	margin: 0; /* wat */
}

.mw-body .mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend, /* wat */
.mw-changeslist-legend,
.mw-body .mw-search-profile-tabs,
.mw-body fieldset#mw-searchoptions,
.mw_metadata,
.wikitable,
.mw-datatable {
	color: @text;
	.box;
}

.mw-body .mw-search-profile-tabs {
	padding: 0.5em;
}

.mw_metadata,
.mw-datatable,
.wikitable {
	border-color: @base70;

	> tr > th,
	> tr > td,
	> * > tr > th,
	> * > tr > td {
		border: 1px solid @base70;
		padding: 0.4em 0.5em;
	}
}

.mw-datatable th {
	background: @blue-bright;
}

.mw_metadata th,
.wikitable th {
	background: @base80;
}

.mw_metadata {
	border-bottom-width: 3px;
}

/* Portlets */
.emptyPortlet,
#mw-page-header-links .emptyPortlet {
	display: none;
}

#p-lang.emptyPortlet {
	display: inherit;
}

/* Hidden stuff */

#p-namespaces h3,
#p-views h3,
#p-more h3,
#p-search h3 {
	.hidden;
}

/* Notification */
.mw-notification{
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 12px rgba( 0, 0, 0, 0.15 )
}

/* Top Logo */
#p-banner img {
    width: 170px !important;
    height: 50px !important;
    transform: translateY(-0.23em) !important;
}

/* No Borders */
.messagebox, .errorbox, .warningbox, .successbox {
	border: none;
}

/* External Links */
.mw-parser-output a.external, .link-https {
    background-image: url(/kawaii/ext-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
	color: #1e78bc;
}

/* Sidebar Chunk */
#mw-site-navigation .sidebar-chunk li:hover, #mw-related-navigation .sidebar-chunk li:hover, #personal .dropdown li:hover, #p-variants-desktop .dropdown li:hover {
	background: #0000000d;
}

#mw-site-navigation span, #mw-related-navigation span, #personal .dropdown span, #p-normal-catlinks a {
    color: #212121;
	text-decoration: none !important;
}

/* OOUI */
.oo-ui-dropdownWidget-handle .oo-ui-labelElement-label {
	line-height: 1.42857143em;
}

/*SlideIn Animation*/
@keyframes slideinfromright {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideinfromrightOverflow {
	0%{
		overflow: hidden;
	}

	99% {
		overflow: hidden;
	}

	100% {
		overflow: auto;
	}
}

.mw-body {
	animation-name: slideinfromright;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.1,0.9,0.2,1);
    animation-fill-mode: both;
}

.oo-ui-fieldsetLayout-group {
	animation-name: slideinfromright;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0, 1.24, 0, 0.97);
	animation-fill-mode: both;
}

/*Jump Anamtion*/
@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.jumpanim:hover {
	animation: jump .3s;
}

#pt-notifications-alert .mw-echo-notifications-badge:focus,
#pt-notifications-notice .mw-echo-notifications-badge:focus,
#personal h2:focus {
	animation: jump .3s;
}

/* Recent Changes */
.client-js .mw-changeslist ul, .client-js .mw-changeslist table.mw-enhanced-rc {
	margin-left: unset;
	border-bottom: 1px #00000012 solid;
    padding: 8px;
	transition: background .2s;
}

.client-js .mw-changeslist ul, .client-js .mw-changeslist table.mw-enhanced-rc:hover {
	background: #0000000d !important;
}

.mw-changeslist {
	font-size: 0.95em;
}

.mw-changeslist h4 {
	padding: 10px 0;
	font-weight: normal;
	font-size: 0.95em;
	color: @tools-color;
    letter-spacing: 0.75px;
}

.mw-changeslist .mw-made-collapsible {
	background: #0000000d;
	transition: background .2s;
}

.mw-changeslist .mw-collapsed {
	background: unset !important;
}

/* User Dropdown Pt Icon */
.pt-md-icon() {
	content: '';
	padding-left: 36px;
	background-repeat: no-repeat;
	opacity: 0.51;
	padding-top: 2px;
}

/*#pt-userpage a:after, #pt-mytalk a:after, #pt-adminlinks a:after, #pt-preferences a:after, #pt-betafeatures a:after, #pt-watchlist a:after, #pt-mycontris a:after, #pt-logout a:after, #pt-createaccount a:after, #pt-login a:after{
	content: '';
	padding-right: 31px;
	background-repeat: no-repeat;
	opacity: 0.67;
	background-image: url(images/material-icons/navigate_next_black_24dp.svg);
}*/ 

#pt-userpage a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/insert_drive_file_black_24dp.svg);
}

#pt-mytalk a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/forum_black_24dp.svg);
}

#pt-adminlinks a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/admin_panel_settings_black_24dp.svg);
}

#pt-preferences a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/settings_black_24dp.svg);
}

#pt-betafeatures a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/science_black_24dp.svg);
}

#pt-watchlist a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/star_black_24dp.svg);
}

#pt-mycontris a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/extension_black_24dp.svg);
}

#pt-logout a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/logout_black_24dp.svg);
}

#pt-createaccount a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/person_add_black_24dp.svg);
}

#pt-login a:before {
	.pt-md-icon();
	background-image: url(images/material-icons/login_black_24dp.svg);
}

/* History Page */
#pagehistory li{
	padding: 8px;
	border-bottom: 1px #00000012 solid;
	margin-bottom: 0px;
}

#pagehistory li.selected{
	outline: none;
	border: none;
	border-radius: 4px;
}

.mw-checkbox-toggle-controls {
	margin-top: 40px;
}

.mw-history-compareselectedversions{
	margin-top: 24px;
}

ul#pagehistory {
	margin: 0;
    list-style-type: none;
}
