@import 'variables.less';

// Three-column layout

#mw-content-block {
	.flex-display;
	clear: both;
}

#p-logo-text {
	min-width: @column-left-size;
}

#mw-site-navigation {
	.column-left();
	.flex(0, 0, @column-left-size, 1);
}

#mw-content-wrapper {
	.flex(1, 1, auto, 2);
	// Make word wrapping, max-width percentages, etc work with the above flex
	min-width: 50%;
	//max-width: 1262px;
}

#mw-related-navigation {
	.column-right();
	.flex(0, 0, @column-right-size, 3);
}

// Redundant content category list
#catlinks {
	display: none;
}

// For the more responsive username support
#user-tools {
	min-width: @column-right-size;
}


// Dropdown
#mw-related-navigation .sidebar-inner, #mw-site-navigation .sidebar-inner{
	padding: unset !important;
}

#personal {
	margin-left: 1em;
}

#headerUpload {
	position: relative;
	height: 3.75em;
	width: 4.9em;
	background-color: @blue;
	background-image: -webkit-gradient(linear, right top, left top, from(#ff77b0), to(#fb7299));
	background-image: linear-gradient(-90deg, #ff77b0 0%, #fb7299 100%);
	float: right;
	margin-top: -0.5em;
	right: 0.5em;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 4px 8px rgba( 251, 114, 153, 0.3 );
	color: white !important;
	line-height: 55px;
	text-align: center;
	display: block;
	&:hover, &:focus-visible {
		background-color: @blue-hover;
		box-shadow: 0 9px 9px rgba( 251, 114, 153, 0.3 );
		transition: box-shadow 200ms, background-color 200ms;
	}
	&:active {
		background-color: @blue-dark;
		box-shadow: 0 0 0 rgba( 251, 114, 153, 0.3 );
		transition: box-shadow 200ms, background-color 200ms;
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		border-radius: 0 0 6px 6px;
		transition: background-color 200ms;
		background-color: transparent;
	}
	&::after {
		content: 'upload';
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		width: 100%;
		height: 57px;
		font-size: 28px;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
		text-indent: 0;
		color: white;
		position: relative;
		display: inline-block;
	}
	&:hover::before, &:focus-visible::before {
		background-color: rgba( 255, 255, 255, 0.3 );
	}
	&:active::before {
		background-color: rgba( 0, 0, 0, 0.3 );
	}
}

#personal-extra {
	width: 95px;
}


.mw-special-Preferences #mw-wrapper {
	&::after {
		content: 'settings';
		display: flex;
		position: fixed;
		width: 256px;
		height: 256px;
		font-size: 256px;
		margin: 0;
		padding: 0;
		margin-right: 8px;
		line-height: 1;
		pointer-events: none;
	
		animation: rolling 10s infinite linear;
	
		background-position: center;
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	
		left: unset;
		right: -64px;
		bottom: -32px;
		color: black;
		opacity: 0.05;
	}
}
