.languagesettings-menu {
    .menu-section {
        &.active {
			border-left-color: #fb7299;
		}
    }

    &:focus {
			border-color: transparent;
	}
}

#languagesettings-panels .mw-ui-pressed {
	background-color: #fb7299;
	border-color: #fb7299;
}
